

* {
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
}

body {
	margin: 0;
	background-color:  #f5f8fa;
}

a {
	text-decoration: none;
	color: #333;
}

.bold {
	font-weight: bold;
	font-size: 13pt !important;
    font-family: 'Roboto Bold', sans-serif;
}
.boldtitle {
	font-weight: bold !important;
	font-size: 18pt !important;
    font-family: 'Roboto Black', sans-serif;
}

.content-desc {
	margin-top: 5px;
}
.text-desc {
	color: #333 !important;
	font-size: 11pt !important;
	line-height: 1.5;
    font-family: 'Roboto Regular', sans-serif;
}
.readmore {
	color: #8a6ec7;
	font-weight: bold;
	text-decoration: underline;
}

.nametitle {
	font-size: 0.6rem !important;
    font-weight: bold;
    font-family: 'Roboto Regular', sans-serif !important;
}
.nametitle2 {
	font-size: 1rem !important;
    font-weight: bold;
    font-family: 'Roboto Regular', sans-serif !important;
}
.nametitle3 {
	font-size: 1.35rem !important;
    font-family: 'Roboto Black', sans-serif !important;
}

.mt--70 {
	margin-top: -70%;
}

.btn {
	border-radius: 3px;
    outline: none !important;

}
.btn {
	display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-lg {
	padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
.btn-sm {
	padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}


.btn-white {
	background-color: #f5f8fa !important;
    border: 1px solid #f5f8fa !important;
    box-shadow: 0px 0px 10px #5a5a5a;
}
.btn-white {
	color: #7554bd;
}

.addbutton {
	color: #8a6ec7;
}

.smalltitle {
	font-size: 10pt;
	margin-bottom: -8%;
}
.fillcontent {
	font-size: 16pt;
}

.baboocontent {
	padding:  10px;
	border-bottom: 1px rgba(132, 132, 132, 0.17) solid;
}

.img-book {
	box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.22);
}

.hr-panel {
	border-bottom: 1px rgba(132, 132, 132, 0.17) solid;
	/*margin-top: 20px;*/
	margin-bottom: 10px;
	width: 100%;
}


.padding-0{
    padding-right:0;
    padding-left:0;
    padding-top: 0;
    padding-bottom: 0;
}

.left-side{
	border:0px;
	border-radius: 0px;
	background-color: #F5F8FA;
}

.right-side{
	border:0px;
	border-radius: 0px;
	background-color: #ffffff;
}

.side-content-l{
	/*padding:100px 100px 100px 100px;*/
	padding: 10%;
	height: 100vh;
}

.side-content-r{
	padding:50px 50px 50px 50px;
}

.btn-facebook{
	height:48px;
	background-color: #fff;
	box-shadow:         0px 2px 3px 0px #ccc;
	color:#444;
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	padding:0px 20px 0px 20px;
	font-weight: 600;
	border:1px #eee solid;
}

.btn-google{
	height:48px;
	background-color: #fff;
	box-shadow:0px 2px 3px 0px #ccc;
	color:#444;
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	padding:0px 20px 0px 20px;
	font-weight: 600;
	border:1px #eee solid;
	margin-left: 10px;
}

.img-button{
	height: 24px;
}

.btn-teks{
	margin-left:8px;
}

.button-login{
	background-color: transparent;
	border:2px solid #7554bd;
	border-radius: 50%;
	height:50px;
	width: 50px;
	color: #7554bd;
	padding-left: 20px;
}

.register-link{
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	color: #555;
}

.register-link2{
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	color:#555;
}

.register-link2:hover{
	color:#7554bd;
	text-decoration: none;
	font-weight: 600;
}
.register-link2.active{
	color:#7554bd;
	text-decoration: none;
	font-weight: 600;
}
.register-link3{
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	color:#555;
}

.register-link3:hover{
	color:#7554bd;
	text-decoration: none;
}
.register-link3.active{
	color:#7554bd;
	text-decoration: none;
}

.text-label-login{
	margin-top:50px;
 	font-size:14px;"
 	color:#555;
	font-family: 'Poppins', sans-serif;
}

.text-label-login2{
 	font-size:14px;"
 	color:#555;
	font-family: 'Poppins', sans-serif;
}

.login-input{
 	font-size:13px;"
 	color:#eee;
	font-family: 'Poppins', sans-serif;
    height: 42px;
    border:1px solid #ddd;
}

button.button-login:hover{
background-color: #7554bd;
color:#fff;
padding-left: 20px;
}

input.login-input:focus{
	color:#7554bd;
	border-color:#7554bd;
    box-shadow: 0px 0px 1px 0px #7554bd;
}
input.login-input{
	color:gray;
	box-shadow: 0px;
}

input-placeholder.login-input{
	color:gray;
}

.welcome-message{
	font-size:20px;
	font-family: 'Poppins', sans-serif; 
	color: grey;
}

.img-logo-login{
	margin-top: 200px;
	height:150px;	
}

.img-left-login{
	margin-top:40px;
	height:360px; 
	width: 540px;
}

.icon-langsung-baca{
	padding-left:5px; 
	font-size:12px;
}

.konten{
	padding-right: 30px;
	padding-left: 30px;
}

.btn-daftar{
	background-color: #7554bd;
	color:#fff;
	font-family: 'Poppins', sans-serif; 
	font-size:14px;
	border-radius: 50px;
	margin-bottom:50px;
	margin-top:15px;
	border:2px solid #7554bd;
}


button.btn-daftar:hover{
	background-color: #fff;
	color:#7554bd;
	border:2px solid #7554bd;
	padding-left: 20px;
	font-weight: 600;
}

select.form-control:focus{
	border-color:#7554bd;
}